<div class="todo-form">
  <input [(ngModel)]="newTask" placeholder="Enter a new task" /> <!--input field is bound to newtask property-->
  <input type="number" [(ngModel)]="newDuration" placeholder="Duration (minutes)" />
  <!--input field is bound to newDuration property-->

  <div class="priority">
    <label>
      <input type="radio" name="priority" [(ngModel)]="newPriority" value="HIGH" /> High
    </label>
    <label>
      <input type="radio" name="priority" [(ngModel)]="newPriority" value="NORMAL" /> Normal
    </label>
    <label>
      <input type="radio" name="priority" [(ngModel)]="newPriority" value="LOW" /> Low
    </label>
  </div>



  <button type="button" (click)="addToDo()">Add</button>
</div>