.todo-form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    color: black;
}

.todo-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: medium;
    color: black;
    display: flex;
}

.priority {
    justify-content: space-evenly;
    display: flex;      
    gap: 20px;          
}

.priority label{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.priority input[type="radio"] {
    background-color: white;
    cursor: pointer;
}

button {
    background-color: #ff1493;
    color: white;
    padding: 10px 15px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;
}