.todo-container {
    font-family: sans-serif;
    background-image: linear-gradient(to right, #f857a6, #ff5858);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 700px;
}

ol {
    padding: 0;
    margin: 20px auto;
    width: 100%;
}

li {
    display: flex;
    align-items: center;
    padding: 3px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    counter-increment: item;
}

li::before {
    content: counter(item) ". ";
    margin-right: 5px;
}

.right-aligned-items {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.right-aligned-items button {
    background-color: #ff1493;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}

.high-priority .priority-text {
    color: crimson;
}

.low-priority .priority-text {
    color: green;
}

.normal-priority .priority-text {
    color: rgb(196, 143, 9);
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container label {
    margin-right: 10px;
    font-size: large;
    font-weight: bold;
}

.search-container input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: medium;
    color: black;
    display: flex;
}

h2 {
    text-align: center;
}